<!DOCTYPE html> <html> <head> <title>Login</title> <!-- Add any additional head 
    elements here (e.g., CSS links) -->
    <link rel="stylesheet" href="stylesheets/index_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head> <body> <h1>Login</h1>
    
    <!-- Login Form --> <form action="/login" method="post"> <div> <label 
            for="username">Username:</label> <input type="text" id="username" 
            name="username" required>
        </div> <div> <label for="password">Password:</label> <input type="password" 
            id="password" name="password" required>
        </div> <div> <button type="submit">Login</button> </div> </form> <!-- Link 
    to registration page if users don't have an account --> <p>Don't have an 
    account? <a href="/register">Register here</a>.</p>
</body> </html>